<section>
	<div class="form-editor">
		<div ui-ace="{useWrapMode : true, theme:'monokai', mode: 'json'}" ng-model="formString">
		</div>
	</div>
	<div class="converter">
		<button ng-click="convert()">Convert</button>
	</div>
	<div class="form-display">
		<form>
			<h3>{{form.title}}</h3>
			<p ng-repeat="description in form.description">{{description}}</p>
			<br>
			<div ng-repeat="question in form.questions">
				<label>{{question.id}}. {{question.title}}<span class="required" ng-show="question.required === 'true'">*</span></label>
				<br>
				<input ng-show="question.type === 'short text'">
				<textarea ng-show="question.type === 'long text'"></textarea>
				<label ng-show="question.type === 'radio'" ng-repeat="option in question.options">
					<input type="radio" name="{{question.title}}" ng-value="option">{{option}}
				</label>
				<label ng-show="question.type === 'multiple'" ng-repeat="option in question.options">
					<input type="checkbox" name="{{question.title}}" ng-value="option">{{option}}
				</label>
				<br><br>
			</div>
		</form>
	</div>
</section>