#editor { 
	width: 45%;
	height: 600px;
}

.form-display {
	position: absolute;
	top: 0;
	left: 50%;
	padding-right: 30px;
}

.required {
	color: red;
}

.converter {
	width: 45%;
	text-align: center;
}

button {
	font-size: 20px;
	cursor: pointer;
	margin-top: 8px;
}

button:active {
  transform: translateY(4px);
}

.ace_editor  {
  height : 600px;
}